<div>
  <h1>{Astro.props.title}</h1>
  <span
    >{Astro.props.description}{
      Astro.props.link && (
        <a href={Astro.props.link}>
          <img
            class="icons"
            style="width: 16px; background-color: #06ffd1d8; border-radius: 50%;padding: 2px; margin-bottom: -4px;"
            src="/images/link.svg"
          />
        </a>
      )
    }
    {
      Astro.props.tools && (
        <>
          <br />
          <br />
          <strong>Tools:</strong> {Astro.props.tools.join(", ")}
        </>
      )
    }
    </span
  >
</div>

<style>
  @font-face {
    font-family: "Hurmit";
    src: url("/src/assets/fonts/HurmitNerdFont-Regular.otf") format("opentype");
  }
  div {
    text-align: left;
    font-family: Hurmit, sans-serif;
    border: 1px solid #b6b6b6;
    border-radius: 8px;
    padding: 2rem;
    background-color: #4f00009e;
    min-height: fit-content;
  }
  strong{
    font-size: large;
    }
  h1 {
    color: rgba(182, 182, 182, 0.718);
    height: fit-content;
    font-size: 1.5rem;
  }
  a {
    text-decoration: none;
    margin: 0;
    margin-left: -0.5rem;
    padding: 0;
  }
  span {
    color: #8c8c8ce5;
  }
  img.icons {
    filter: invert(82%) sepia(8%) saturate(747%) hue-rotate(170deg)
      brightness(60%) contrast(87%);
  }
  @media screen and (max-width: 1052px) {
    span {
      padding: 1rem;
    }
    h1 {
      font-size: 1.5rem;
      height: auto;
      margin-top: 1rem;
    }
  }
</style>
