---
import ProjectOne from "./ProjectOne.astro";
import GitHubActivity from "./GitHubActivity.astro";
---

<div>
  <div id="container">
    <ProjectOne id="project"
      title="Backup Cluster Manager"
      description="Open Source an alternative for managing distributed nodes in a backup cluster environment. Implement Cluster Manager, Backup Manager and nodes Users, nodes, backups to let users interact with the cluster manager interface."
        link="https://github.com/amosproj/amos2025ws02-backup-cluster-manager"
    />
    <ProjectOne
      title="FFMPEG Batch Video Processor"
      description="Docker based tool to process multiple videos concurrently with predefined profiles, custom operations, and workflow automation."
        link="https://github.com/robinrj6/FFmpeg-batch"
    />

    <ProjectOne
      title="Youtube Videos Suggestor"
      description="n8n workflow to suggest youtube videos after assessing the transcript of videos."

    />
    <ProjectOne
      title="PneumoGAN"
      description="A Python project which detects pneumonia from images of chest X-rays based on generative adversarial networks."
      link="https://pneumogan.vercel.app/"
    />
    
  </div>
  <span style="display: flex; justify-content: center;">
    <GitHubActivity />
  </span>
</div>

<style>
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
  }
  h1 {
    color: #b6b6b6;
    text-align: center;
    font-family: Neighbor, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 1052px) {
    #container {
      display: flex;
      flex-direction: column;
      width: auto;
    }   
  }
</style>
