<div>
  <slot />
</div>
<style>
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    height: 100vh;
  }
  @media screen and (max-width: 1052px) {
    div {
        max-width: 100%;
      }
  }
</style>
